@{
    ViewData["Title"] = "Home Page";
}




<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>وب‌سایت ورزشی</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>






    <main>



        <h1 style="color:black;text-align:center;margin-top:2rem;font-family:Nazanin;font-size:3rem;"><b>انواع سالن‌های مجهز و پیشرفته برای ورزش‌های مختلف</b></h1>

        <div style="margin-right:14.5rem;">

            <div class="container_img">
                <img src="/images/1.jpg" alt="Avatar" class="image">
                <div class="overlay">سالن شماره 1</div>
            </div>

            <div class="container_img">
                <img src="/images/2.jpg" alt="Avatar" class="image">
                <div class="overlay">سالن شماره 2 </div>
            </div>

            <div class="container_img">
                <img src="/images/3.jpg" alt="Avatar" class="image">
                <div class="overlay">سالن شماره 3 </div>

            </div>
            <br>

            <div class="container_img">
                <img src="/images/4.jpg" alt="Avatar" class="image">
                <div class="overlay">سالن شماره 4 </div>
            </div>

            <div class="container_img">
                <img src="/images/5.jpg" alt="Avatar" class="image">
                <div class="overlay">سالن شماره 5 </div>
            </div>

            <div class="container_img">
                <img src="/images/6.jpg" alt="Avatar" class="image">
                <div class="overlay">سالن شماره 6 </div>
            </div>

        </div>










        <section id="news" class="news1">
            <div class="container" style=" margin-top: 10rem;width: 100%;margin-left: 5rem;background-color:none;">
                <h1 style="font-family:Nazanin;" class="blink2"> <b> وضعیت برگزاری مسابقات در این مجموعه ورزشی</b> </h1>

                <div class="max_width_heaight container_pic">

                    <img src="/images/شناا.jpg" alt="Notebook" style="width:100%;height:18rem;">
                    <div class="content">
                        <h1>مسابقات انتخابی تیم ملی شنا</h1>
                        <p>تا کنون 3 نفر به تیم ملی دعوت شده اند.</p>
                    </div>

                </div>


                <div class=" max_width_heaight container_pic">

                    <img src="/images/کشتی.jpg" alt="Notebook" style="width:100%;height:18rem;">
                    <div class="content">
                        <h1>مسابقات آسیایی کشتی فرنگی</h1>
                        <p>کسب سهمیه المپیک توسط دو نماینده کشورمان.</p>
                    </div>

                </div>


                <div class=" max_width_heaight container_pic">

                    <img src="/images/فوتسال.jpg" alt="Notebook" style="width:100%; height:18rem;">
                    <div class="content">
                        <h1>لیگ منطقه ای فوتسال</h1>
                        <p> برای اولین بار شاهد برگزاری لیگ فوتسال در این مجموعه هستیم.</p>
                    </div>

                </div>

                <div class=" max_width_heaight container_pic">

                    <img src="/images/پینگ.jpg" alt="Notebook" style="width:100%; height:18rem;">
                    <div class="content">
                        <h2>مسابقات زیر 18 سال پینگ پنگ</h2>
                        <p>تا امروز وضعیت 2 بازیکن مشخص شده است.</p>
                    </div>

                </div>
            </div>

        </section>



        <section id="news" class="news2">
            <div class="container">
                <h1 style="font-family:Nazanin;"><b> آخرین رویدادهای مجموعه ورزشی</b></h1>
                <div class="card_news">
                    <img src="/images/سوله-ورزشی-2.jpg" alt="رویداد اول" class="card_news" style="margin-top:-0.5rem;">

                    <p>افتتاح سالن والیبال جدید با فضای بسیار بزرگتر.</p>
                   
                </div>
                <div class="card_news">
                    <img src="/images/swim.jpg" alt="رویداد دوم" class="card_news" style="margin-top:-0.5rem;">
                    <p>اتمام کار ساخت استخر جدید برای برگزاری بازی های مقدماتی.</p>
                    
                </div>
                <div class="card_news">
                    <img src="/images/vv.jpg" alt="رویداد سوم" class="card_news" style="margin-top:-0.5rem;">
                    <p>شروع لیگ والیبال از هفته آینده با حضور بیش از 16 تیم.</p>
                    
                </div>


            </div>

        </section>


        <section id="about" class="about">
            <div class="container">
                <h2 style="color:black; font-family:Nazanin;" class="blink2"><b>دیدن مسابقات به صورت زنده . . .</b></h2>
                <p>
                    در اینجا میتوانید مسابقات در حال برگزاری در مجموعه ورزشی را به صورت زنده دنبال کنید.
                </p>


                <div class="card" style="width:300px;display:inline-block;margin-left:2%;">
                    <img class="card-img-top" src="~/images/کشتی.jpg" alt="Card image" style="width:100%;height:11.62rem;">
                    <div class="card-body">
                        <h4 class="card-title"> انتخابی المپیک</h4>
                        <p class="card-text">در این مسابقات که آخرین مرحله کسب سهمیه المپیک محسوب می‌شود، ۲ نفر راه یافته به فینال به همراه برنده مسابقه بین نفرات سوم مشترک (جمعا) ۳ نفر سهمیه المپیک را بدست می آوزند. </p>
                        <a href="#" class="btn btn-primary blink2">زنده ببینید</a>
                    </div>
                </div>

                <div class="card" style="width:300px; display:inline-block;">
                    <img class="card-img-top" src="~/images/پینگ.jpg" alt="Card image" style="width:100%;height:11.62rem;">
                    <div class="card-body">
                        <h4 class="card-title">نیمه نهایی پینگ پنگ</h4>
                        <p class="card-text"> فینال مسابقات پینگ پنگ با حضور تیم‌های شرکت‌کننده در مجموعه ما برگزار میشود.در جریان رقابت های انفرادی تنیس روی میز جهانی، نوید شمس به مصاف با «پاناگیوتیس» از یونان خواهد رفت . </p>
                        <a href="#" class="btn btn-primary blink2">زنده ببینید</a>
                    </div>
                </div>

                <div class="card" style="width:300px;display:inline-block;margin-right:2%;">
                    <img class="card-img-top" src="~/images/شناا.jpg" alt="Card image" style="width:100%;height:11.62rem;">
                    <div class="card-body">
                        <h4 class="card-title">مسابقات آسیایی شنا</h4>
                        <p class="card-text">۹ ملی پوش شنای ایران در فینال آخرین روز از مسابقات شنا قهرمانی رده‌های سنی نوجوانان و جوانان آسیا عصر امروز (پنجشنبه) با حریفان خود به رقابت خواهند پرداخت. میتوانید آن را به صورت زنده ببینید.</p>
                        <a href="#" class="btn btn-primary blink2">زنده ببینید</a>
                    </div>
                </div>

            </div>


            <div id="id01" class="modal">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <form class="modal-content" action="/action_page.php">
                    <div class="container">
                        <h1>Sign Up</h1>
                        <p>Please fill in this form to create an account.</p>
                        <hr>
                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <label for="psw-repeat"><b>Repeat Password</b></label>
                        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

                        <label>
                            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                        </label>

                        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

                        <div class="clearfix">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                            <button type="submit" class="signupbtn">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>


            <section id="dashboard" class="dashboard">
                <div class="container">
                    <div class="dashboard-toggle">
                        <span class="toggle-icon">&#9776; یک کارمند جدید ثبت کنید</span>
                    </div>
                    <div class="dashboard-content">
                       
                            <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">ثبت کارمند جدید</button>
                       
                        
                    </div>
                </div>
            </section>

        </section>




        <section id="contact" class="contact">
            <div class="container section1">
                <h2 class="section1">تماس با ما</h2>
                <form id="contact-form">
                    <div class="form-group">
                        <label for="name">نام</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">ایمیل</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="message">پیام</label>
                        <textarea id="message" name="message" required></textarea>
                    </div>
                    <button type="submit">ارسال</button>
                </form>
            </div>
        </section>


    </main>


   
    <footer>
        <div class="container">
            <p>کلیه حقوق محفوظ است &copy; 2024</p>
        </div>
    </footer>
    <script src="~/js/JavaScript.js"></script>
</body>







